<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--Style Sheets-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <style>
        div.top-p{
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <header>
        <!--Begin of NavBar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container-fluid" th:switch="${mode}">
                <a class="navbar-brand" href="/">Patients</a>
                <ul class="navbar-nav" th:case="PATIENT_VIEW">
                    <li class="active nav-item">
                        <a href="/patient" class="nav-link">All Patients</a>
                    </li>
                    <li class="nav-item">
                        <a href="/newPatient" class="nav-link">New Patient</a>
                    </li>
                </ul>
                <ul class="navbar-nav" th:case="PATIENT_EDIT">
                    <li class="nav-item">
                        <a href="/patient" class="nav-link">All Patients</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/newPatient" class="nav-link">New Patient</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--End of NavBar-->
    </header>
    <!--Begin of Content-->
    <div class="container-fluid top-p" th:switch="${mode}">
        <!--List Patients-->
        <div th:case="PATIENT_VIEW">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <!--Entities-->
                    <th>Id</th>
                    <th>Fisrt Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Nationality</th>
                    <th>District</th>
                    <th>City</th>
                    <th>Birth Place</th>
                    <th>Birth Date</th>
                    <th>Age</th>
                    <th>Phone Number</th>
                    <!--Commands-->
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Check History</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="patient : ${patients}">
                    <tr>
                        <td th:text="${patient.id}"></td>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:text="${patient.gender}"></td>
                        <td th:text="${patient.nationality.nation}"></td>
                        <td th:text="${patient.district}"></td>
                        <td th:text="${patient.city}"></td>
                        <td th:text="${patient.birthPlace}"></td>
                        <td th:text="${patient.birthDate}"></td>
                        <td th:text="${patient.age}"></td>
                        <td th:text="${patient.phoneNumber}"></td>
                        <!--Commands-->
                        <td><a th:href="@{/updatePatient(id=${patient.id})}"><div class="fas fa-pencil-alt"></div></a></td>
                        <td><a th:href="@{/deletePatient(id=${patient.id})}"><div class="fas fa-trash"></div></a></td>
                        <td><a th:href="@{/checkHistory(id=${patient.id})}"><div class="fas fa-history"></div></a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>





        <!--Update Patients-->
        <!--Patient Edit Reference-->
        <div th:case="PATIENT_EDIT">
            <form action="/savePatient" method="POST">
                <input type="hidden" class="form-control" th:value="${patient.id}" name="id" id="id">
                <!--Name Data-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" th:value="${patient.firstName}"
                                   name="firstName" id="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" th:value="${patient.lastName}"
                                   name="lastName" id="lastName" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <!--Access Data-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="patientGender">Gender</label>
                            <select class="custom-select" id="patientGender" name="gender"
                                    th:value="${patient.gender}">
                                <option>Choose One...</option>
                                <option th:selected="${patient.gender} == Male">Male</option>
                                <option th:selected="${patient.gender} == Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="number" class="form-control" placeholder="999 999 999" id="phoneNumber"
                                   th:value="${patient.phoneNumber}" name="phoneNumber">
                        </div>
                    </div>
                </div>
                <!--Location Data-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="patientNationality">Nationality</label>
                            <!--Combo Nation Box-->
                            <select class="custom-select" id="patientNationality" th:value="${patient.nationality}"
                                    name="nationality">
                                <option selected th:value="0">Choose One...</option>
                                <option th:each="nation : ${nations}" th:value="${nation.id}"
                                        th:selected="${nation.nation} == ${patient.nationality.nation}"    th:text="${nation.nation}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="patientDistrict">District</label>
                            <select class="custom-select" id="patientDistrict" th:value="${patient.district}"
                                    name="district">
                                <option selected>Choose One...</option>
                                <!--Uso de fragments-->
                                <option th:fragment="districts" th:each="district : ${districts}" th:value="${district.id}"
                                        th:text="${district.district}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" placeholder="City" id="city"
                                   th:value="${patient.city}" name="city">
                        </div>
                    </div>
                </div>
                <!--Date Data-->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="patientBirthPlace">Birth Place</label>
                            <input type="text" class="form-control" placeholder="Birth Place" id="patientBirthPlace"
                            th:value="${patient.birthPlace}" name="birthPlace">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group date-picker">
                            <label for="patientBirthDate">Birth Date</label>
                            <input type="date" class="form-control date-picker" placeholder="Birth Date" id="patientBirthDate"
                            th:value="${patient.birthDate}" name="birthDate">
                        </div>
                    </div>
                </div>
                <!--Submit-->
                <div class="row">
                    <div class="col-md-12" >
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--End of Content-->
    <!--Bootstrap Scripts-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!--Clip Scripts-->
    <script src="js/clip.js"></script>
    <!--List Districts-->
    <script th:inline="javascript">
        /*[+
            $(function() {
                $("#patientDistrict").load('/ajax/listDistricts', $("#patientNationality").serialize());
                $('#patientNationality').on('change', function() {
                    $("#patientDistrict").load('/ajax/listDistricts', $("#patientNationality").serialize());
                });
            });
        +]*/
    </script>
</body>
</html>